# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.python-version

# --- R ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# --- Jupyter ---
.ipynb_checkpoints/
profile_default/
ipython_config.py

# --- Conda ---
.conda/

# --- Editores / SO ---
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# --- Salidas y temporales ---
*.log
*.tmp
/outputs/
/build/
/dist/
